<%- include('../partials/header') %>

	<div class="create-blog content">
		<form method="POST" action="/blogs">
			<label for="title">Blog title:</label> <br>
			<input type="text" name="title" id="title" required />

			<br>
			<br>

			<label for="snippet">Blog snippet:</label> <br>
			<input type="text" name="snippet" id="snippet" required />

			<br>
			<br>

			<label for="body">Blog body:</label> <br>
			<textarea id="body" name="body" required></textarea>

			<br>
			<br>

			<button>Submit</button>
		</form>
	</div>

<%- include('../partials/footer') %>
