<%- include('../partials/header') %>

	<div class="details content">
		<h2><%= blog.title %></h2>
		<h4>by <%= blog.author %></h4>
		<div class="content">
			<p> <%= blog.body %> </p>
		</div>

		<% if(username === blog.author) { %>
			<a class="delete" data-doc="<%= blog._id %>" >Delete</a>
		<% } %>
	</div>

	<script type="text/javascript">
		const deleteBlog = document.querySelector('a.delete');

		deleteBlog.addEventListener('click', (e) => {
			const location = `/blogs/${deleteBlog.dataset.doc}`;

			fetch(location, {
				method: 'DELETE'
			})
			.then(res => res.json())
				.then((data) => window.location.href = data.redirect)
			.catch(err => console.log(err));
		});
	</script>

<%- include('../partials/footer') %>