<%- include('../partials/header') %>

	<div class="blogs content">
		<h2>All Blogs</h2>
		<% if(blogs.length > 0) {%>
			<% for(let i = 0; i < blogs.length; i++) { %>
				<a class="single" href="/blogs/<%= blogs[i]._id %>">
					<h3 class="title"> <%= blogs[i].title %> </h3>
					<p class="snippet"> <%= blogs[i].snippet %> </p>
				</a>
			<% } %>
		<% } else { %>
				<p>There are no blogs to display</p>
		<% } %>
	</div>

<%- include('../partials/footer') %>