<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog | <%= title %></title>

	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	
	<nav>
		<div class="site-title">
			<a href="/"><h1>Blogar</h1></a>
			<p> whatever be the weather be</p>
		</div>

		<ul>
			<li><a href="/">Blogs</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New Blog</a></li>
			<% if(email) {%>
				<li><a href="/logout">Logout</a></li>
			<% } else { %>
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
			<% } %>
		</ul>
	</nav>