<%- include('partials/header') %>

	<div class="about content">
		<h2>About Us</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus porttitor tempor. Praesent id turpis ante. Integer eget ante eget justo efficitur scelerisque vitae tempus libero. Curabitur facilisis fringilla ipsum nec tempus. Donec egestas tellus vel ex laoreet pellentesque. Donec egestas, est ut tincidunt accumsan, nibh sapien imperdiet lacus, vitae porta nunc lectus nec arcu. Proin vel augue eget felis ultricies volutpat. Nam eget condimentum arcu, id consectetur lacus. Nunc vulputate leo sagittis nulla molestie, non hendrerit elit aliquam. Nullam dapibus fringilla nisi eu tristique. Aliquam id lorem ut diam venenatis dictum vel a nulla. Sed mollis risus non felis commodo, sed scelerisque metus ornare.
		</p>
	</div>

<%- include('partials/footer') %>