<%- include('../partials/header') %>
	
	<h3> Login </h3>
	<form method="POST", action="/login">
		<label for="email">Email</label>
		<br>
		<input id="email" type="email" name="email" placeholder="Enter Email..." required />

		<br>

		<label for="pass">Password</label>
		<br>
		<input id="pass" type="password" name="password" placeholder="Enter Password..." required />

		<br>

		<input type="submit" value="Submit">
		<br>
		<span style="color: red;"><%= message %></span>
	</form>

	<br>
	<a href="/register">Don't have an account? Click to Register.</a>
<%- include('../partials/footer') %>